.idea
.vagrant

latest.tar.gz

/node_modules
.sass-cache/
.sublime/

# OSX 
*.DS_Store

dploy.yaml
wordpress/.rev
wordpress/wp-content/uploads
wordpress/wp-content/plugins/wordpress-importer/

# project images
wordpress/wp-content/themes/neil-v2/static/img/projects