.content-link {
	border-bottom: 2px solid $nc-primary;

    .no-touch & {

        &:hover {
            color: $nc-primary-0-6;
        }
    }

    @include respond-to(smallest) {
        border-color: $nc-primary-0-6;
    }
}

.wo {
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $nc-primary;
		transform: translate(-102%, 0);
		transform: translate3d(-102%, 0, 0);
	}

	.wi {
		display: inline-block;
		position: relative;
		opacity: 0;
		transform: translate(0, 130%) skewY(-10deg);
		transform: translate3d(0, 130%, 0) skewY(-10deg);
		transition: all .4s $easeOutCubic;
		transition-delay: 0.3s;
	}

	&.a {

		&:after {
			animation: word-underline 1s $easeInOutCubic;
		}

		.wi {
			opacity: 1;
			transform: none;
		}
	}

	&.ao {

		&:after {
			animation: word-underline-reverse 1s $easeInOutCubic;
		}

		.wi {
			opacity: 0;
			transform: translate(0, 100%) skewY(5deg);
			transform: translate3d(0, 100%, 0) skewY(5deg);
		}
	}
}

@keyframes word-underline {
	
	0% {
		transform: translate(-100%, 0);
		transform: translate3d(-100%, 0, 0);
	}
	25%, 75% {
		transform: translate(0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate(100%, 0);
		transform: translate3d(100%, 0, 0);
	}

}

@keyframes word-underline-reverse {

	0% {
		transform: translate(100%, 0);
		transform: translate3d(100%, 0, 0);
	}
	25%, 75% {
		transform: translate(0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate(-100%, 0);
		transform: translate3d(-100%, 0, 0);
	}

}

@keyframes word-show {

	0% {
		transform: translate(0, 100%);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		transform: none;
	}
}

.bg-image-wrapper {
	position: relative;
	overflow: hidden;
	background: $nc-primary-0-05;

	&.loaded {

		.bg-image {
			opacity: 1;
			visibility: visible;
			transform: none;
			filter: none;
		}
	}
}

.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	visibility: hidden;
	transition: transform .6s $easeOutCubic, opacity .6s $easeOutCubic, filter 1.6s $easeOutCubic;
	transition: transform .6s $easeOutCubic, opacity .6s $easeOutCubic, -webkit-filter 1.6s $easeOutCubic;
	// too janky with scrolling... :(
	// filter: grayscale(1) brightness(0.5);
	transform: scale(1.05) translate(-10%, 0);
	transform: scale(1.05) translate3d(-10%, 0, 0);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

[data-scroll-item] {
	position: relative;
	transform: translate(0, 15px);
	transform: translate3d(0, 15px, 0);
	transition: all .45s $easeOutCubic;
	opacity: 0;
	visibility: hidden;

	&.show {
		transform: none;
		opacity: 1;
		visibility: visible;
	}
}

.arrow {
	transition: all .3s $easeOutCubic;
	display: inline-block;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'> <polygon points='142.332,104.886 197.48,50 402.5,256 197.48,462 142.332,407.113 292.727,256' fill='#fff'></polygon></svg>");
		background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%20512%20512'%20enable-background%3D'new%200%200%20512%20512'%20xml%3Aspace%3D'preserve'%3E%20%3Cpolygon%20points%3D'142.332%2C104.886%20197.48%2C50%20402.5%2C256%20197.48%2C462%20142.332%2C407.113%20292.727%2C256'%20fill%3D'%23fff'%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
		background-size: 100%;
	}

	&.arrow-small {
		width: 20px;
		height: 20px;
	}

	&.arrow-medium {
		width: 40px;
		height: 40px;

		@include respond-to(small) {
			width: 30px;
			height: 30px;
		}

		@include respond-to(smallest) {
			width: 20px;
			height: 20px;
		}
	}

	&.arrow-left {
		
		&:after {
			transform: rotate(180deg);
		}
	}

	&.arrow-down {
		
		&:after {
			transform: rotate(90deg);
		}
	}

	&.arrow-up {
		
		&:after {
			transform: rotate(-90deg);
		}
	}
}