.page-contact {

	.content {
		float: left;
		width: 60%;
		text-align: left;
		max-width: 600px;

		@include respond-to(small) {
			width: 100%;
			float: none;
			text-align: left;
		}
	}

	.social-account-list {
		list-style-type: none;
		padding: 0;
		@include font-size(1.5);
		line-height: 1.5;

		li {
			margin-bottom: 5px;
		}

		a {
			@extend .content-link;
		}

		@include respond-to(smallest) {
	        @include font-size(1.2);
	    }
	}
}
