.page-contact {

	.content {
		float: right;
		width: 40%;
		text-align: right;
	}

	.social-account-list {
		list-style-type: none;
		padding: 0;
		@include font-size(1.5);
		line-height: 1.5;

		li {
			margin-bottom: 5px;
		}

		a {
			@extend .content-link;
		}
	}
}
