#site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 18px $side-padding-desktop;
	z-index: 4;
	overflow: hidden;
	transition: all .4s $easeOutCubic;

	&.anim-in {
		
		.logo,
		nav,
		.mobile-menu-btn {
			transform: none;
		}
	}

	@include respond-to(small) {
		padding: 14px $side-padding-small;
	}

	.logo {
		margin: 0;
		float: left;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 700;
		@include font-size(2.1);
		border-bottom: 3px solid $nc-primary;
		padding-bottom: 16px;
		transform: translate(0, 100px);
		transform: translate3d(0, 100px, 0);
		transition: all .3s $easeOutCubic;
		transition-delay: 0.1s;

		@include respond-to(small) {
			padding-bottom: 13px;
		}
	}

	nav {
		float: right;
		position: relative;
		transform: translate(0, 100px);
		transform: translate3d(0, 100px, 0);
		transition: all .3s $easeOutCubic;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li {
			float: left;
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}

			a {
				@include font-size(1.6);
				font-weight: 700;
				display: block;
				padding: 9px 0 7px;
				border-bottom: 0px solid $nc-primary;
				transition: all .15s $easeInOutCubic;

				.no-touch & {

					&:hover {
						border-bottom: 3px solid $nc-primary;
					}
				}

				&.active {
					border-bottom: 3px solid $nc-primary;
				}
			}
		}
	}

	.mobile-menu-btn {
		display: none;
		position: fixed;
		z-index: 2;
		right: 14px;
		top: 14px;
		width: 25px;
		height: 25px;
		transform: translate(0, 100px);
		transform: translate3d(0, 100px, 0);
		transition: all .3s $easeOutCubic;

		.bar {
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background: $nc-primary;
			transition: all .3s $easeOutCubic;

			&.bar-1 {
				top: 2px;
				transform-origin: center left;
			}

			&.bar-2 {
				top: 11px;
			}

			&.bar-3 {
				bottom: 2px;
				transform-origin: center left;
			}
		}
	}

	@include respond-to(smallest) {

		&.menu-open {
			overflow: visible;

			+ #wrapper {
				transform: translate(-200px, 0);
				transform: translate3d(-200px, 0, 0);
			}
	
			.logo {
				transition-delay: 0;
				transform: translate(-200px, 0);
				transform: translate3d(-200px, 0, 0);
			}

			nav {
				opacity: 1;
				background-color: $nc-secondary;
            	transform: translate(-100%, 0);
            	transform: translate3d(-100%, 0, 0);
			}

			.bar {

				&.bar-1 {
					transform: rotate(45deg);
				}

				&.bar-2 {
					width: 0;
					left: 50%;
				}

				&.bar-3 {
					transform: rotate(-45deg);
				}
			}
		}

		&.menu-closing {
			overflow: visible;

			.logo {
				transition-delay: 0;
			}

			nav {
				opacity: 1;
			}
		}

		nav {
			display: block;
			text-align: center;
            background-color: $nc-primary-0-05-solid;
            top: 0;
            margin: 0;
            position: fixed;
            opacity: 0;
            left: 100%;
            height: 100%;
            width: 100%;
            z-index: 1;
            transition: background-color .3s $easeOutCubic, transform .3s $easeOutCubic;

            ul {
            	position: absolute;
            	left: 0;
            	top: 50%;
            	width: 100%;
            	transform: translate(0, -50%);
            }

            li {
            	float: none;
            	margin-left: 0;

            	a {
            		display: block;
            		padding: 20px 0;

            		&.active {
            			border-width: 0;
            			background: $nc-primary-0-05;
            		}

            		&:active {
            			color: $nc-secondary;
            			background: $nc-primary;
            			transition: none;
            		}
            	}
            }
		}

		.mobile-menu-btn {
			display: block;
		}
	}
}