#site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 18px $side-padding-desktop;
	z-index: 4;

	.logo {
		margin: 0;
		float: left;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 700;
		@include font-size(2.1);
		border-bottom: 3px solid $nc-primary;
		padding-bottom: 16px;
	}

	nav {
		float: right;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li {
			float: left;
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}

			a {
				@include font-size(1.6);
				font-weight: 700;
				display: block;
				padding: 4px 0 7px;
				border-bottom: 0px solid $nc-primary;
				transition: all .15s $easeInOutCubic;

				.no-touch & {

					&:hover {
						border-bottom: 3px solid $nc-primary;
					}
				}

				&.active {
					border-bottom: 3px solid $nc-primary;
				}
			}
		}
	}
}