.page-project {
	height: 2000px; // TO DO remove this

	.row {
		margin-bottom: 100px;
	}

	.grid-item {

		&.grid-item-large {

			.proj-img-wrap {
				
			}
		}

		&:first-child {

			p,
			h3,
			li {
				text-align: right;
			}

			p,
			h3,
			ul {
				float: right;
			}
		}

		.proj-img-wrap {
			position: relative;
			margin-bottom: 50px;
			height: 0;
			padding-bottom: 60%;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p {
			margin-top: 0;
			max-width: 400px;
			clear: both;
		}

		h3 {
			@include font-size(2);
			clear: both;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.credit-list {
	@include font-size(1.5);
	line-height: 1.5;
	list-style-type: none;
	padding: 0;
	clear: both;

	.label {
		color: $nc-primary-0-6;
		margin-top: 15px;
		font-style: italic;

		&:first-child {
			margin-top: 0;
		}
	}
}

.proj-hero {
	height: 700px;
	position: relative;
	margin-bottom: 150px;
	overflow: hidden;
	transform-origin: bottom center;

	.proj-img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.proj-heading {
		position: absolute;
		left: 15px;
		bottom: 5px;
		z-index: 1;

		.proj-client {
			margin: 0;
			text-transform: uppercase;

			.wo:after {
				height: 3px;
			}
		}

		.proj-name {
			margin: 0;
			@include font-size(5);

			.wo:after {
				height: 5px;
			}
		}
	}

	.scroll-to-content {
		position: absolute;
		z-index: 1;
		bottom: 20px;
		right: 20px;
		cursor: pointer;

		.no-touch & {

			&:hover {
				bottom: 18px;
				border-top-color: $nc-primary-0-6;
			}
		}
	}
}

.proj-subtitle {
	text-align: center;
	@include font-size(4);
	margin: 40px auto 50px;
	max-width: 90%;
}

.proj-nav-top {
	position: relative;
	z-index: 0;
	margin:0 auto;
	width: 80%;

	.prev-proj {
		float: left;

		.no-touch & {

			&:hover {
				margin-left: -2px;
				border-right-color: $nc-primary-0-6;
			}
		}
	}

	.next-proj {
		float: right;

		.no-touch & {

			&:hover {
				margin-right: -2px;
				border-left-color: $nc-primary-0-6;
			}
		}
	}
}

.proj-nav-bottom {
	position: relative;
	margin: 0 auto 100px;
	width: 80%;
	text-align: center;

	.prev-proj,
	.next-proj {
		position: relative;
		display: inline-block;
		@include font-size(1.5);
		line-height: 1.5;
		border-bottom: 0 solid $nc-primary;
		transition: all .15s $easeInOutCubic;

		&:after {
			content: '';
			@extend .arrow;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}

		.no-touch & {

			&:hover {
				border-bottom-width: 2px;
			}
		}
	}

	.prev-proj {
		float: left;

		&:after {
			@extend .arrow-left-small;
			left: -20px;
		}

		.no-touch & {

			&:hover {

				&:after {
					margin-left: -2px;
					border-right-color: $nc-primary-0-6;
				}
			}
		}
	}

	.next-proj {
		float: right;

		&:after {
			@extend .arrow-right-small;
			right: -20px;
		}

		.no-touch & {

			&:hover {

				&:after {
					margin-right: -2px;
					border-left-color: $nc-primary-0-6;
				}
			}
		}
	}
}

.proj-intro {
	text-align: center;
	margin: 0 auto 160px;
	max-width: 50%;
	position: relative;
	z-index: 1;
}

.proj-img-wrap {

	&.proj-img_1 {

		.proj-img {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&.proj-img_3 {

		.proj-img {
			top: 0;
			width: #{(100%/3)};
			height: 100%;

			&:nth-of-type(1) {
				left: 0;
			}

			&:nth-of-type(2) {
				left: #{(100%/3)};
			}

			&:nth-of-type(3) {
				left: #{(100%/3)*2};
			}
		}
	}

	.proj-img {
		position: absolute;
	}
}