.page-project {

	.row {
		margin-bottom: 100px;

		@include respond-to(medium) {
			margin-bottom: 50px;
		}

		@include respond-to(small) {
			margin-bottom: 0;
		}

		&:nth-child(6) {

			.grid-item {

				p {
					@include respond-to(small) {
						margin-bottom: 30px;
					}

					@include respond-to(smallest) {
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	.grid-item {

		&.grid-item-large {

			.proj-img-wrap {
				
			}
		}

		&:first-child {

			// p,
			// h3,
			// li {
			// 	text-align: right;
			// }

			// p,
			// h3,
			// ul {
			// 	float: right;
			// }
		}

		.proj-img-wrap {
			position: relative;
			margin-bottom: 50px;
			height: 0;
			padding-bottom: 60%;

			&:last-child {
				margin-bottom: 0;

				@include respond-to(small) {
					margin-bottom: 30px;
				}

				@include respond-to(smallest) {
					margin-bottom: 20px;
				}
			}

			@include respond-to(small) {
				margin-bottom: 30px;
			}

			@include respond-to(smallest) {
				margin-bottom: 20px;
			}
		}

		p {
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
			max-width: 375px;
			clear: both;

			@include respond-to(small) {
				margin-bottom: 20px;
			}
		}

		h3 {
			@include font-size(2);
			margin-left: auto;
			margin-right: auto;
			max-width: 375px;
			clear: both;

			&:first-child {
				margin-top: 0;
			}

			&.credit-title {
				max-width: 250px;
			}
		}

		.bg-image-wrapper {
			// background: none;
		}

		@include respond-to(small) {
			width: 100%;
			margin-right: 0;
		}
	}
}

.credit-list {
	@include font-size(1.5);
	line-height: 1.5;
	list-style-type: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
	clear: both;

	@include respond-to(smallest) {
        @include font-size(1.2);
    }

	.label {
		color: $nc-primary-0-6;
		margin-top: 15px;
		font-style: italic;

		&:first-child {
			margin-top: 0;
		}
	}
}

.proj-hero {
	height: 700px;
	position: relative;
	margin-bottom: 150px;
	overflow: hidden;
	transform-origin: bottom center;

	@include respond-to(medium) {
		margin-bottom: 100px;
	}

	@include respond-to(small) {
		margin-bottom: 50px;
	}

	@include respond-to(smallest) {}

	.proj-img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.proj-heading {
		position: absolute;
		left: 15px;
		bottom: 5px;
		z-index: 2;
		max-width: 85%;

		@include respond-to(small) {
			left: 10px;
			max-width: 75%;
		}

		.proj-client {
			margin: 0;
			text-transform: uppercase;

			@include respond-to(medium) {
				@include font-size(1.3);
			}

			@include respond-to(small) {
				@include font-size(1.2);

				.wo:after {
					height: 2px;
				}
			}

			.wo:after {
				height: 3px;
			}
		}

		.proj-name {
			margin: 0;
			@include font-size(5);

			@include respond-to(medium) {
				@include font-size(4);
			}

			@include respond-to(small) {
				@include font-size(3);

				.wo:after {
					height: 3px;
				}
			}

			.wo:after {
				height: 5px;
			}
		}
	}

	.scroll-to-content {
		position: absolute;
		z-index: 2;
		bottom: 20px;
		right: 20px;
		cursor: pointer;

		@include respond-to(small) {
			bottom: 10px;
			right: 10px;
		}

		.no-touch & {

			&:hover {
				bottom: 18px;
				opacity: 0.6;
			}
		}
	}

	.bg-image {
		filter: grayscale(1) brightness(0.5);
	}
}

.proj-subtitle {
	text-align: center;
	@include font-size(4);
	margin: 40px auto 50px;
	max-width: 90%;

	@include respond-to(medium) {
		@include font-size(3);
	}

	@include respond-to(small) {
		@include font-size(2.5);
		margin: 30px auto;
	}

	@include respond-to(smallest) {
		@include font-size(2);
		max-width: 100%;
	}
}

.proj-nav-top {
	position: relative;
	z-index: 0;
	margin:0 auto;
	width: 80%;

	@include respond-to(small) {
		width: 90%;
	}

	@include respond-to(smallest) {
		width: 100%;
	}

	.prev-proj {
		float: left;

		.no-touch & {

			&:hover {
				margin-left: -2px;
				opacity: 0.6;
			}
		}
	}

	.next-proj {
		float: right;

		.no-touch & {

			&:hover {
				margin-right: -2px;
				opacity: 0.6;
			}
		}
	}
}

.proj-nav-bottom {
	position: relative;
	margin: 0 auto 100px;
	width: 80%;
	text-align: center;

	@include respond-to(medium) {
		margin-bottom: 50px;
	}

	@include respond-to(small) {
		margin-bottom: 10px;
		width: 90%;
	}

	@include respond-to(smallest) {
		margin-bottom: 0;
		width: 85%;
	}

	.prev-proj,
	.next-proj {
		position: relative;
		display: inline-block;
		@include font-size(1.5);
		line-height: 1.5;
		border-bottom: 0 solid $nc-primary;
		transition: all .15s $easeInOutCubic;

		@include respond-to(small) {
			width: 50%;
			@include font-size(1.2);
		}

		.arrow {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}

		.no-touch & {

			&:hover {
				border-bottom-width: 2px;
			}
		}
	}

	.prev-proj {
		float: left;

		@include respond-to(small) {
			text-align: left;
		}

		.arrow {
			left: -30px;
		}

		.no-touch & {

			&:hover {

				.arrow {
					margin-left: -2px;
					opacity: 0.6;
				}
			}
		}
	}

	.next-proj {
		float: right;

		@include respond-to(small) {
			text-align: right;
		}

		.arrow {
			right: -30px;
		}

		.no-touch & {

			&:hover {

				.arrow {
					margin-right: -2px;
					opacity: 0.6;
				}
			}
		}
	}
}

.proj-intro {
	text-align: center;
	margin: 0 auto 160px;
	max-width: 50%;
	position: relative;
	z-index: 1;

	@include respond-to(medium) {
		margin-bottom: 100px;
	}

	@include respond-to(small) {
		margin-bottom: 50px;
		max-width: 60%;
	}

	@include respond-to(smallest) {
		max-width: 75%;

		p {

			a {
				display: inline-block;
			}
		}
	}
}

.proj-img-wrap {

	&.proj-img_1 {

		.proj-img {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&.proj-img_3 {

		.proj-img {
			top: 0;
			width: #{(100%/3)};
			height: 100%;

			&:nth-of-type(1) {
				left: 0;
			}

			&:nth-of-type(2) {
				left: #{(100%/3)};
			}

			&:nth-of-type(3) {
				left: #{(100%/3)*2};
			}
		}
	}

	.proj-img {
		position: absolute;
	}

	.proj-image-browser,
	.proj-img-iphone {
		background: none;

		.bg-image {
			background-size: contain;
		}
	}
}