.page-work {

	.row {
		margin-bottom: 30px;
	}

	.grid-item {
		float: left;

		&:first-child {
			margin-right: 2%;
		}

		&.grid-item-large {
			width: #{(3*18.4%)+(2*2%)};
		}

		&.grid-item-small {
			width: #{(2*18.4%)+(1*2%)};
		}

		> a {
			display: block;
			overflow: hidden;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background: $nc-primary;
				transform: translate(-100%, 0);
				transform: translate3d(-100%, 0, 0);
				transition: all .2s $easeOutCubic;
			}

			.no-touch & {

				&:hover {

					&:after {
						transform: none;
					}
				}
			}
		}
	}

	.work-preview-thumb {
		position: relative;
		display: block;
		width: 100%;
		height: 400px;

		.bg-image {
			// background-image: url(../static/img/_tmp/any.jpg);
		}
	}

	.work-preview-client {
		text-transform: uppercase;
		margin-bottom: 0;
		@include font-size(1.1);
		font-weight: 800;
		margin-top: 11px;
	}

	.work-preview-name {
		@include font-size(2);
		margin-top: 5px;
		margin-bottom: 10px;
	}
}