.page-work {

	.grid-item {

		> a {
			display: block;
			overflow: hidden;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background: $nc-primary;
				transform: translate(-100%, 0);
				transform: translate3d(-100%, 0, 0);
				transition: all .2s $easeOutCubic;
			}

			.no-touch & {

				&:hover {

					.bg-image {
						filter: grayscale(1) brightness(0.5);
						transform: scale(1.05);
						transition: all .3s $easeOutCubic;
					}

					&:after {
						transform: none;
					}
				}
			}
		}

		@include respond-to(smallest) {
			width: 100%;
			margin-right: 0;
		}
	}

	.work-preview-thumb {
		position: relative;
		display: block;
		width: 100%;
		height: 400px;

		@include respond-to(medium) {
			height: 300px;
		}
		
		@include respond-to(small) {
			height: 200px;
		}

		@include respond-to(smallest) {}

		.bg-image {
			// background-image: url(../static/img/_tmp/any.jpg);
		}
	}

	.work-preview-client {
		text-transform: uppercase;
		margin-bottom: 0;
		@include font-size(1.1);
		font-weight: 800;
		margin-top: 11px;

		@include respond-to(small) {
			@include font-size(0.9);
		}
	}

	.work-preview-name {
		@include font-size(2);
		margin-top: 5px;
		margin-bottom: 10px;

		@include respond-to(small) {
			margin-top: 2px;
			@include font-size(1.7);
		}

		@include respond-to(smallest) {
			margin-bottom: 15px;
		}
	}

	.row {

		@include respond-to(smallest) {
			margin-bottom: 0;
		}
	}
}
