@font-face {
  font-family: 'Open Sans Semibold';
  src: url('OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
       url('OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('OpenSans-Semibold.svg#b96880fafbf6b051ff49d9fe8a31137c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

