// fonts go here

// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('../static/fonts/OpenSans-Regular/OpenSans-Regular.eot'); /* IE9 Compat Modes */
// 	src: url('../static/fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 	   url('../static/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
// 	   url('../static/fonts/OpenSans-Regular/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
// 	   url('../static/fonts/OpenSans-Regular/OpenSans-Regular.svg#dc56f0938c09c27a4156bb0f8f5176a2') format('svg'); /* Legacy iOS */
	   
// 	font-style:   normal;
// 	font-weight:  400;
// }

// @font-face {
// 	  font-family: 'Open Sans Italic';
// 	  src: url('../static/fonts/OpenSans-Italic/OpenSans-Italic.eot'); /* IE9 Compat Modes */
// 	  src: url('../static/fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 	       url('../static/fonts/OpenSans-Italic/OpenSans-Italic.woff') format('woff'), /* Modern Browsers */
// 	       url('../static/fonts/OpenSans-Italic/OpenSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
// 	       url('../static/fonts/OpenSans-Italic/OpenSans-Italic.svg#94c33cdd8f8847f3444990ab6c6e6a61') format('svg'); /* Legacy iOS */
	       
// 	  font-style:   italic;
// 	  font-weight:  400;
// }

// @font-face {
// 	font-family: 'Open Sans Semibold';
// 	src: url('../static/fonts/OpenSans-Semibold/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
// 	src: url('../static/fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 	   url('../static/fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
// 	   url('../static/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
// 	   url('../static/fonts/OpenSans-Semibold/OpenSans-Semibold.svg#b96880fafbf6b051ff49d9fe8a31137c') format('svg'); /* Legacy iOS */
	   
// 	font-style:   normal;
// 	font-weight:  700;
// }

// @font-face {
// 	font-family: 'Open Sans Semibold Italic';
// 	src: url('../static/fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot'); /* IE9 Compat Modes */
// 	src: url('../static/fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 	   url('../static/fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
// 	   url('../static/fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
// 	   url('../static/fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.svg#32756bd590186a9f248741d5548b466e') format('svg'); /* Legacy iOS */
	   
// 	font-style:   italic;
// 	font-weight:  700;
// }

// @font-face {
// 	font-family: 'Open Sans Extrabold';
// 	src: url('../static/fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */
// 	src: url('../static/fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 	   url('../static/fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff') format('woff'), /* Modern Browsers */
// 	   url('../static/fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
// 	   url('../static/fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.svg#5c62748eddf7ad78c6f00917cd538fb7') format('svg'); /* Legacy iOS */
	   
// 	font-style:   normal;
// 	font-weight:  700;
// }

$font-OS        : 'Open Sans', 'Helvetica', 'Arial';
$font-OS-It     : 'Open Sans Italic', 'Helvetica', 'Arial';
$font-OS-SeBd   : 'Open Sans Semibold', 'Helvetica', 'Arial';
$font-OS-SeBdIt : 'Open Sans Semibold Italic', 'Helvetica', 'Arial';
$font-OS-ExBd   : 'Open Sans Extrabold', 'Helvetica', 'Arial';
