/*
 * GLOBAL SASS VARIABLES GO HERE
 */

/*
 * Paths
 */

$image_folder        : "assets_static/";
$image_retina_folder : "assets/";

/*
 * colours
 */
$nc-secondary : #2F2E2E;
$nc-primary   : #fff;

$nc-primary-0-6   : rgba(255, 255, 255, 0.6);
$nc-secondary-0-6 : rgba(47, 46, 46, 0.6);

$nc-primary-0-1   : rgba(255, 255, 255, 0.1);
$nc-secondary-0-1 : rgba(47, 46, 46, 0.1);

/*
 * layout-related
 */
$side-padding-desktop : 20px;

/*
 * Media queries breakpoints
 */

$breakpoints: (
  small         'all and ( max-width: 874px )',
  ipad          'screen and (min-device-width : 768px) and (max-device-width : 1024px)',
  medium        'all and (max-width: 959px) and (min-width: 875px)',
  large         'all and ( min-width: 1024px ) and ( max-width: 1366px )',
  extra-large   'all and ( min-width: 1367px )',
  short         'all and ( max-height: 450px )',
);

$MOBILE  : (small medium);
$DESKTOP : (ipad large extra-large);
$IPAD    : (ipad);
