/*
 * GLOBAL SASS VARIABLES GO HERE
 */

/*
 * Paths
 */

$image_folder        : "assets_static/";
$image_retina_folder : "assets/";

/*
 * colours
 */
$nc-secondary : #1A1A1A;
$nc-primary   : #fff;

$nc-primary-0-6   : rgba(255, 255, 255, 0.6);
$nc-secondary-0-6 : rgba(26, 26, 26, 0.6);

$nc-primary-0-1   : rgba(255, 255, 255, 0.1);
$nc-secondary-0-1 : rgba(26, 26, 26, 0.1);

$nc-primary-0-05   : rgba(255, 255, 255, 0.05);
$nc-secondary-0-05 : rgba(26, 26, 26, 0.05);

/*
 * layout-related
 */
$side-padding-desktop : 20px;
$side-padding-small   : 12px;

$header-height-desktop : 76px;
$header-height-small   : 65px;

/*
 * Media queries breakpoints
 */

$breakpoints: (
  smallest      'all and ( max-width: 500px )',
  small         'all and ( max-width: 700px )',
  ipad          'screen and (min-device-width : 768px) and (max-device-width : 1024px)',
  medium        'all and (max-width: 900px) and (min-width: 701px)',
  large         'all and ( min-width: 1024px ) and ( max-width: 1366px )',
  extra-large   'all and ( min-width: 1367px )',
);

$MOBILE  : (small medium);
$DESKTOP : (ipad large extra-large);
$IPAD    : (ipad);
